@model Entities.Dtos.ArticleListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "文章";
}
<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item">
        <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
    </li>
    <li class="breadcrumb-item active">
        <a asp-area="Admin" asp-controller="Article" asp-action="Index">文章</a>
    </li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        文章
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="articlesTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>#</th>
                    <th>类别</th>
                    <th>标题</th>
                    <th>小图</th>
                    <th>日期</th>
                    <th>读取计数</th>
                    <th>评论数</th>
                    <th>是否活跃？</th>
                    <th>删除了吗?</th>
                    <th>创建日期</th>
                    <th>创建用户</th>
                    <th>最近编辑时间</th>
                    <th>最近编辑作者</th>
                    <th>交易</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>#</th>
                    <th>类别</th>
                    <th>标题</th>
                    <th>小图</th>
                    <th>日期</th>
                    <th>读取计数</th>
                    <th>评论数</th>
                    <th>是否活跃？</th>
                    <th>删除了吗?</th>
                    <th>创建日期</th>
                    <th>创建用户</th>
                    <th>最近编辑时间</th>
                    <th>最近编辑作者</th>
                    <th>交易</th>
                </tr>
                </tfoot>
                <tbody>
                @foreach (var article in Model.Articles)
                {
                    <tr name="@article.Id">
                        <td>@article.Id</td>
                        <td>@article.Category.Name</td>
                        <td>@article.Title</td>
                        <td>
                            <img src="~/img/@article.Thumbnail" class="my-image-table"/>
                        </td>
                        <td>@article.Date.ToShortDateString()</td>
                        <td>@article.ViewsCount</td>
                        <td>@article.CommentCount</td>
                        <td>@(article.IsActive ? "是" : "否")</td>
                        <td>@(article.IsDeleted ? "是" : "否")</td>
                        <td>@article.CreatedDate.ToShortDateString()</td>
                        <td>@article.CreatedByName</td>
                        <td>@article.ModifiedDate.ToShortDateString()</td>
                        <td>@article.ModifiedByName</td>
                        <td>
                            <a class="btn btn-primary btn-sm btn-update" data-id="@article.Id" asp-area="Admin" asp-controller="Article" asp-action="Update" asp-route-articleId="@article.Id">
                                <span class="fas fa-edit"></span>
                            </a>
                            <button class="btn btn-danger btn-sm btn-delete" data-id="@article.Id">
                                <span class="fas fa-minus-circle"></span>
                            </button>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/AdminLTE/js/articleIndex.js" type="application/ecmascript"></script>
    <script>
        $(document).ready(function() {
            $('#btnAdd').click(function() {
                window.location.href = '@Url.Action("Add", "Article")';
            });
        });
    </script>
}

@section Styles
{

}